@import "reveal.js/dist/reset.css";
@import "reveal.js/dist/reveal.css";
@import "assets/css/robot-lung.css";
@import "assets/css/papercolor-light.css";

:root {
  --color-1: #143f7a;
  --color-2: #10599d;
  --color-3: #326bae;
  --r-main-color: black;
  --r-link-color: var(--color-2);
  --r-link-color-hover: var(--color-3);
  --r-image-link-color: color-mix(in srgb, var(--color-3), transparent 80%);
}

/* Code syntax highlighting overrides */
.reveal pre code.hljs {
  padding: 5px;
}
.reveal pre {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}
.hljs::selection,
.hljs ::selection {
  background: color-mix(in srgb, var(--color-3), transparent 75%);
  color: inherit;
}
/* Code syntax highlighting overrides end */

/* Theme overrides */
::selection,
::-moz-selection {
  background-color: var(--color-2);
}
.reveal section {
  font-size: 1.2em;
}
.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}
.reveal a:hover img {
  background-color: var(--r-image-link-color);
  border-color: none;
  box-shadow: 0 0 10px 10px var(--r-image-link-color);
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: inherit;
}
.reveal h2 {
  font-size: 1.9em;
}
.reveal h3 {
  font-size: 1.48em;
}
.line.top {
  background: var(--color-1);
}
.line.left,
.line.right {
  background: linear-gradient(
    var(--color-1) 10%,
    var(--color-2) 25%,
    var(--color-3) 50%
  );
}
.line.bottom {
  background: var(--color-3);
}
.reveal a,
.reveal .controls {
  color: var(--r-link-color);
}
.reveal a:hover {
  color: var(--r-link-color-hover);
  text-decoration: underline;
}
.reveal .progress {
  color: var(--color-1);
  height: 5px;
}
/* Theme overrides end */

h1.title {
  margin-bottom: 0.5em;
}
.speaker {
  font-weight: bold;
  letter-spacing: 0.05em;
}
.event {
  letter-spacing: 0.02em;
}
p.subtitle {
  font-style: italic;
  font-size: 0.9em;
  margin-bottom: 2em;
}
img.atbdx {
  height: 3em;
  margin: 0;
}
a.go-to-last {
  position: absolute;
  bottom: 0;
  left: 0.2em;
  font-size: 0.4em;
  opacity: 0.4;
}

.small {
  font-size: 0.8em;
}

.logos {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 1em auto 0 auto;
}
.logos .logo-item {
  flex: 1;
}
.logos img {
  margin: 0;
}
.logos .yaal {
  margin: auto;
  width: 3.6em;
  height: 3.6em;
  border-radius: 50%;
  background-color: rgb(255, 237, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.logos .yaal img {
  width: 75%;
}
.logos .sinch {
  width: 80%;
  background-color: rgb(255, 202, 97);
}

.hidden {
  display: none;
}

a.discret {
  color: var(--r-main-color);
}

.speaker-card {
  display: flex;
  text-align: left;
  align-items: center;
}
.speaker-card img.portrait {
  flex: 1;
  width: 20%;
  height: 20%;
  border-radius: 50%;
}
.speaker-card .info {
  flex: 3;
  padding-left: 1em;
}
.speaker-card .info .name {
  font-weight: bold;
  font-size: 1.2em;
}
.speaker-card .info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.85em;
}
.speaker-card .info li::before {
  content: "";
  mask-repeat: no-repeat;
  background-color: var(--r-main-color);
  display: inline-block;
  width: 0.9lh;
  height: 0.9lh;
  margin-right: 0.4em;
  vertical-align: sub;
}
.speaker-card .info li.location::before {
  mask-image: url("assets/images/location.svg");
}
.speaker-card .info li.organization::before {
  mask-image: url("assets/images/office.svg");
}
.speaker-card .info li > a {
  margin-left: -0.25em; /* Offset the whitespace from indentation */
}
.speaker-card .info li.position::before {
  mask-image: url("assets/images/bag.svg");
}
.speaker-card .info li.experience::before {
  mask-image: url("assets/images/clock.svg");
}
.speaker-card .info li.linkedin::before {
  mask-image: url("assets/images/linkedin.svg");
}

.preview {
  position: relative;
  width: 84%;
  margin: auto;
  text-align: justify;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.1);
  border: 0.2em solid var(--color-2);
}
.preview .link {
  font-size: 0.7em;
  opacity: 0.7;
}
.preview .link::before {
  content: ">";
  padding-right: 0.2em;
}
.preview .title {
  font-weight: bold;
  font-size: 2.2em;
}
.preview .description {
  font-size: 0.9em;
}
.preview .author {
  font-size: 1.1em;
  text-align: right;
}
.preview img.portrait {
  width: 2.8em;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  bottom: 0.85em;
  right: 8em;
  z-index: -1;
}

section[data-background-image],
section[data-background-image] h2 {
  color: white;
  text-shadow: black 0 0 5px;
}

ul.solution-1-problems > li {
  margin-bottom: 0.6em;
}
.reveal ul.arrow-list {
  margin-left: 0;
}
ul.arrow-list li {
  list-style-type: none;
}
ul.arrow-list li::before {
  content: "➔";
  margin-right: 0.5em;
}
.reveal pre code.small {
  font-size: 0.88em;
  max-height: 300px;
  line-height: 1.1em;
}
.r-stack .error-screen {
  height: 100%;
}

.reveal section img.mypy-logo {
  height: 0.94em;
  margin: 0;
  vertical-align: sub;
}

pre:has(+ .output) {
  margin-bottom: 0.2em;
}
pre + .output {
  margin-top: 0.2em;
}
.language-bash::before {
  content: "$";
  margin-right: 0.3em;
  opacity: 0.6;
}
.reveal pre code.wrap {
  white-space: pre-wrap;
  word-break: break-all;
}

.reveal section img.ide-icon {
  height: 1em;
  margin: 0 0.2em 0 0;
  vertical-align: sub;
}

pre.original-head {
  max-width: 50%;
}
.columnContainer {
  display: flex;
  flex-direction: row;
}
.column {
  flex: 1;
}
.recap .column {
  padding: 0.4em 0.8em;
  font-size: 0.81em;
  border-left: var(--color-1) 2px solid;
}
.recap .column:first-child {
  border-left: none;
  padding-left: 0;
}
.recap .column:last-child {
  padding-right: 0;
}
p.heading {
  font-size: 1.21em;
  margin-bottom: 0.8em;
}
.recap code {
  font-size: 0.92em;
}
.recap .solution1 ul {
  margin-top: 0.635em;
}
.recap li {
  margin-bottom: 1.3em;
}

.erased {
  opacity: 0.15;
  text-decoration: line-through;
}

.reveal pre code.big {
  font-size: 1.05em;
  line-height: 1.3em;
}

.type-meaning .r-stack {
  margin: 0.7em 0;
}

.conclusion h1 {
  margin-bottom: 0.5em;
}
.conclusion ul li {
  margin-bottom: 0.6em;
  font-size: 1.15em;
}

.thanks .columnContainer {
  align-items: center;
}
.thanks .column.left {
  text-align: right;
  padding-right: 0.5em;
}
.thanks .column.right {
  align-items: center;
  text-align: left;
}
.thanks .column.right > :first-child {
  margin-top: 0;
  margin-bottom: 1.3em;
  font-size: 0.9em;
}
.thanks .column.right > :last-child {
  margin-bottom: 0;
}

.powered-by,
.sources,
.contact,
.feedback {
  font-size: 0.6em;
  display: flex;
  align-items: center;
}
.reveal section .powered-by img,
.reveal section .sources img,
.reveal section .contact img,
.reveal section .feedback img {
  margin: 0 0 0 0.4em;
  vertical-align: middle;
}
.powered-by img {
  height: 1.7em;
}
.sources img {
  height: 1.4em;
}
.reveal section .sources img + img {
  margin-left: 0;
}
.reveal section .contact img {
  height: 1.1em;
  vertical-align: -14.5%;
}
.reveal p.contact {
  margin-bottom: 17px;
}
.reveal p.feedback {
  margin-top: 17px;
}
.reveal section .feedback img {
  height: 1.4em;
  vertical-align: -70%;
  margin-left: 0.32em;
}
