@import "reveal.js/dist/reset.css";
@import "reveal.js/dist/reveal.css";
@import "assets/css/robot-lung.css";
@import "assets/css/papercolor-light.css";

.reveal pre code.hljs {
  padding: 5px;
}
.reveal pre {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

:root {
  --color-1: #533a71;
  --color-2: #476eae;
  --color-3: #6184d8;
  --r-main-color: black;
  --r-link-color: var(--color-1);
  --r-link-color-hover: var(--color-2);
  --r-image-link-color: color-mix(in srgb, var(--color-2), transparent 80%);
}

/* Theme overrides */
::selection,
::-moz-selection {
  background-color: var(--color-2);
}
.reveal section {
  font-size: 1.2em;
}
.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}
.reveal a:hover img {
  background-color: var(--r-image-link-color);
  border-color: none;
  box-shadow: 0 0 10px 10px var(--r-image-link-color);
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: inherit;
}
.reveal h2 {
  font-size: 1.9em;
}
.reveal h3 {
  font-size: 1.48em;
}
.line.top {
  background: var(--color-1);
}
.line.left,
.line.right {
  background: linear-gradient(
    var(--color-1) 10%,
    var(--color-2) 25%,
    var(--color-3) 50%
  );
}
.line.bottom {
  background: var(--color-3);
}
.reveal a,
.reveal .controls {
  color: var(--r-link-color);
}
.reveal a:hover {
  color: var(--r-link-color-hover);
  text-decoration: underline;
}
.reveal .progress {
  color: var(--r-link-color);
  height: 5px;
}
/* Theme overrides end */

h1.title {
  margin-bottom: 0.5em;
}
.speaker {
  font-weight: bold;
  letter-spacing: 0.05em;
}
.event {
  letter-spacing: 0.02em;
}
p.subtitle {
  font-style: italic;
  font-size: 0.9em;
  margin-bottom: 2em;
}
img.crafts-records {
  height: 3em;
  margin: 0;
}

.small {
  font-size: 0.8em;
}

.logos {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 1em auto 0 auto;
}
.logos .logo-item {
  flex: 1;
}
.logos img {
  margin: 0;
}
.logos .yaal {
  margin: auto;
  width: 15cqb;
  height: 15cqb;
  border-radius: 50%;
  background-color: rgb(255, 237, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.logos .yaal img {
  width: 75%;
}
.logos .sinch {
  width: 80%;
  background-color: rgb(255, 202, 97);
}

.hidden {
  display: none;
}

a.discret {
  color: var(--r-main-color);
}

.speaker-card {
  display: flex;
  text-align: left;
  align-items: center;
}
.speaker-card img.portrait {
  flex: 1;
  width: 20%;
  height: 20%;
  border-radius: 50%;
}
.speaker-card .info {
  flex: 3;
  padding-left: 1em;
}
.speaker-card .info .name {
  font-weight: bold;
  font-size: 1.2em;
}
.speaker-card .info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.85em;
}
.speaker-card .info li::before {
  content: "";
  mask-repeat: no-repeat;
  background-color: var(--r-main-color);
  display: inline-block;
  width: 0.9lh;
  height: 0.9lh;
  margin-right: 0.4em;
  vertical-align: sub;
}
.speaker-card .info li.location::before {
  mask-image: url("assets/images/location.svg");
}
.speaker-card .info li.organization::before {
  mask-image: url("assets/images/office.svg");
}
.speaker-card .info li > a {
  margin-left: -0.25em; /* Offset the whitespace from indentation */
}
.speaker-card .info li.position::before {
  mask-image: url("assets/images/bag.svg");
}
.speaker-card .info li.experience::before {
  mask-image: url("assets/images/clock.svg");
}
.speaker-card .info li.linkedin::before {
  mask-image: url("assets/images/linkedin.svg");
}

.preview {
  position: relative;
  width: 84%;
  margin: auto;
  text-align: justify;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.1);
  border: 0.2em solid var(--color-2);
}
.preview .link {
  font-size: 0.7em;
  opacity: 0.7;
}
.preview .link::before {
  content: ">";
  padding-right: 0.2em;
}
.preview .title {
  font-weight: bold;
  font-size: 2.2em;
}
.preview .description {
  font-size: 0.9em;
}
.preview .author {
  font-size: 1.1em;
  text-align: right;
}
.preview img.portrait {
  width: 2.8em;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  bottom: 0.85em;
  right: 8em;
  z-index: -1;
}

section[data-background-image],
section[data-background-image] h2 {
  color: white;
  text-shadow: black 0 0 5px;
}

.solution-1-problems li {
  margin-bottom: 0.6em;
}
.reveal ul.arrow-list {
  margin-left: 0;
}
ul.arrow-list li {
  list-style-type: none;
}
ul.arrow-list li::before {
  content: "➔";
  margin-right: 0.5em;
}
.reveal pre code.small {
  font-size: 0.95em;
  max-height: 350px;
  line-height: 1.25em;
}

.reveal section img.mypy-logo {
  height: 0.94em;
  margin: 0;
  vertical-align: sub;
}

pre:has(+ .output) {
  margin-bottom: 0.1em;
}
pre + .output {
  margin-top: 0.1em;
}
.language-bash::before {
  content: "$";
  margin-right: 0.3em;
  opacity: 0.6;
}
.reveal pre code.wrap {
  white-space: pre-wrap;
  word-break: break-all;
}

.columnContainer {
  display: flex;
  flex-direction: row;
}
.column {
  flex: 1;
  border-right: var(--r-main-color) 2px solid;
  padding: 2em 0.8em;
  font-size: 0.81em;
}
.column:first-child {
  padding-left: 0;
}
.column:last-child {
  border-right: none;
  padding-right: 0;
}
.heading {
  font-size: 1.21em;
}

.erased {
  opacity: 0.15;
  text-decoration: line-through;
}

.conclusion h1 {
  margin-bottom: 0.5em;
}
.conclusion ul li {
  margin-bottom: 0.6em;
  font-size: 1.15em;
}

.slides-link {
  position: relative;
  z-index: -2; /* behind the QR code image to make the link work */
}
.slides-link p {
  font-size: 0.8em;
  margin-bottom: 0;
}
.slides-link img {
  margin-top: 0;
  background-color: white;
  box-shadow: 0 0 100px 100px white;
  border-radius: 30%;
  position: relative;
  z-index: -1; /* shadow behind surrounding texts */
}

.powered-by,
.sources {
  font-size: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reveal section .powered-by img,
.reveal section .sources img {
  margin: 0 0 0 0.4em;
}
.powered-by img {
  height: 2em;
}
.sources img {
  height: 1.5em;
}
.reveal section .sources img + img {
  margin-left: 0;
}
